################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SecurityTestingAPI/bin/Debug/net8.0
/SecurityTestingAPI/obj
/BLL/obj
/DAL/obj
