################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SecurityTestingAPI/bin
/SecurityTestingAPI/obj
/BLL/obj
/BLL/bin
/DAL/obj
/DAL/bin
/SecurityTestingTests/bin
/SecurityTestingTests/obj
/DAL/Migrations
